html {
    min-height: 100%;
}

body {
    position: relative;
    min-height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
}

#main-container {
    max-width: 2000px;
    margin: 0 auto;
}

#top-container {
    background: linear-gradient(to bottom, hsl(265, 100%, 66%), white);
    margin-bottom: 50px;
}

#middle-container {
    margin-bottom: 50px;
    display: table;
}

#bottom-container {
    width: 30%;
    margin: 75px auto;
    border-radius: 2px;
    border: solid 1px white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);

    min-width: 220px;
}

#footer {
    background-color: hsl(265, 166%, 65%);
    width: 100%;
    margin-top: 100px;
}

#footer-grid {
    display: grid;
    grid-template: 'social links subscribe';
    grid-template-columns: 1fr 1fr 1fr;
    box-sizing: border-box;
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
}

.footer-social {
    grid-area: social;
    display: block;
    margin: 0 20px;
}

.footer-links {
    grid-area: links;
    display: table;
    margin: auto 20px;
}

.link {
    color: hsl(214, 64%, 98%);
    font-family: Open Sans;
    font-weight: 400;
    font-size: 14px;
    padding: 7px 0px;
    margin: 2px 15px;
}

.footer-link {
    display: table-cell;
}

.footer-subscribe {
    grid-area: subscribe;
    display: block;
    margin: auto 20px;
}

.right-content {
    width: 50%;
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}

.header {
    overflow: hidden;
    margin: 0 70px;
    padding: 40px 0;
    position: relative;
}

#header-logo {
    float: left;
    height: 35px;
    width: 200px;
    position: relative;
}

#header-button {
    width: 130px;
    height: 35px;

    position: absolute;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    top: 50%;
    right: 0;
    border-radius: 2px;
    border: solid 1px white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);

    font-family: Poppins;
    font-weight: normal;
    font-size: 12px;
    color: hsl(192, 100%, 9%);
    background-color: hsl(214, 64%, 98%);
}

#header-button:hover {
    background-color: #c3c3c3;
}

.centered-image-container {
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 1500px;
    margin-right: auto;
    margin-left: auto;
}

.centered-image {
    width: 60%;
    max-height: 600px;
}

.mb-5 {
    margin-bottom: 50px !important;
}

.mb-1 {
    margin-bottom: 10px !important;
}

.mt-2 {
    margin-top: 20px !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.centered {
    width: 50%;
    margin: 25px auto;
    text-align: center;
}

.left-image-container {
    width: 50%;
    display: table-cell;
    background: linear-gradient(to right, hsl(265, 100%, 66%), white);
    vertical-align: middle;
    text-align: center;
}

.left-image {
    width: 70%;
    max-height: 500px;
    max-width: 500px;
}

.width-80 {
    width: 80%;
}

.width-90 {
    width: 90%;
}

.width-100 {
    width: 100%;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

#social-images {
    width: 25%;
    display: table;
}

.social-image-container {
    display: table-cell;
}

.social-image {
    width: 25px;
    height: 25px;
}

.footer-paragraph {
    color: hsl(214, 64%, 98%);
    font-weight: 400;
    font-family: Poppins;
    font-size: 12px;
}

.get-started-button {
    width: 20%;
    min-width: 100px;
    height: 35px;
    border: transparent;

    font-family: Poppins;
    font-weight: normal;
    font-size: 10px;
    background-color: hsl(322, 100%, 66%);
    color: white;
}

.get-started-button:hover {
    background-color: hsl(280, 100%, 66%);
}

.white-title {
    font-family: "Open Sans";
    color: hsl(214, 64%, 98%);
    font-weight: 700;
    font-size: 40px;
}

.white-smaller-title {
    font-family: "Open Sans";
    color: hsl(214, 64%, 98%);
    font-weight: 700;
    font-size: 20px;
}

.big-subtitle {
    font-size: 25px;
    font-weight: 700;
    font-family: Poppins;
    color: hsl(192, 100%, 9%);
    margin-bottom: 0;
    margin-top: 0;
}

.small-paragraph {
    font-size: 15px;
    font-weight: 400;
    font-family: Open Sans;
    color: hsl(250, 50%, 55%);
}

.section-wrapper {
    width: 80%;
}

.text-input {
    height: 25px;
    border-radius: 4px;
    border-color: transparent;
    width: 100%;
}

@media screen and (max-width: 1000px) {
    #bottom-container {
        width: 50%;
    }

    #footer-grid {
        grid-template: 'social subscribe' 'links .';
    }
}


@media screen and (max-width: 800px) {
    .left-image-container {
        width: 100%;
        margin-bottom: 50px;
        display: block;

    }

    .left-image {
        width: 50%;
    }

    .right-content {
        width: 100%;
        display: block;
    }

    .middle-container {
        display: block;
    }

    .white-smaller-title {
        text-align: center;
    }

    .text-input-wrapper {
        margin-left: auto;
        margin-right: auto;
    }

    .section-wrapper {
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        width: 70%;
    }

    .button-wrapper {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    #footer-grid {
        grid-template: 'social links' 'subscribe .';
    }
}

@media screen and (max-width: 500px) {
    .header {
        margin: 0px 15px;
        padding: 35px 0px;
    }

    #header-logo {
        height: 25px;
        width: 125px;
        font-size: 12px;
    }

    #header-button {
        width: 80px;
        height: 25px;
        font-size: 9px;
    }

    .centered {
        width: 80%;
    }

    .left-image {
        width: 90%;
    }

    #footer-grid {
        grid-template: 'social' 'links' 'subscribe';
    }

    .white-title, .footer-paragraph, #social-images {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .footer-links {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}
