html {
    min-height: 100%;
}

body {
    position: relative;
    min-height: 100%;
    margin: 0;
}

#top-container {
    background: linear-gradient(to bottom, hsl(265, 100%, 66%), white);
    margin-bottom: 100px;
}

#middle-container {
    margin-bottom: 100px;
    display: table;
}

.right-content {
    width: 50%;
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}

.header {
    overflow: hidden;
    margin: 0 70px;
    padding: 40px 0;
    position: relative;
}

#header-logo {
    float: left;
    height: 35px;
    width: 200px;
    position: relative;
}

#header-button {
    width: 130px;
    height: 35px;

    position: absolute;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    top: 50%;
    right: 0;
    border: transparent;

    font-family: Poppins;
    font-weight: normal;
    font-size: 12px;
    color: hsl(192, 100%, 9%);
    background-color: hsl(214, 64%, 98%);
}

#header-button:hover {
    background-color: #c3c3c3;
}

.centered-image-container {
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 1500px;
    margin-right: auto;
    margin-left: auto;
}

.centered-image {
    width: 60%;
    max-height: 600px;
}

.mb-5 {
    margin-bottom: 50px;
}

.centered {
    width: 50%;
    margin: 20px auto;
    text-align: center;
}

.left-image-container {
    width: 50%;
    display: table-cell;
    background: linear-gradient(to right, hsl(265, 100%, 66%), white);
    vertical-align: middle;
    text-align: center;
}

.left-image {
    width: 70%;
    max-height: 500px;
}

.get-started-button {
    width: 200px;
    height: 35px;
    border: transparent;

    font-family: Poppins;
    font-weight: normal;
    font-size: 10px;
    background-color: hsl(322, 100%, 66%);
    color: white;
}

.get-started-button:hover {
    background-color: hsl(280, 100%, 66%);
}

.big-subtitle {
    font-size: 25px;
    font-weight: 700;
    font-family: Poppins;
    color: hsl(192, 100%, 9%);
    margin-bottom: 0;
    margin-top: 0;
}

.small-paragraph {
    font-size: 15px;
    font-weight: 400;
    font-family: Open Sans;
    color: hsl(250, 50%, 55%);
}

.section-wrapper {
    width: 80%;
}

@media screen and (max-width: 500px) {
    .header {
        margin: 0px 15px;
        padding: 35px 0px;
    }

    #header-logo {
        height: 25px;
        width: 125px;
        font-size: 12px;
    }

    #header-button {
        width: 80px;
        height: 25px;
        font-size: 9px;
    }

    .centered {
        width: 80%;
    }

    .left-image {
        width: 90%;
    }
}

@media screen and (max-width: 1000px) {
    .left-image-container {
        width: 100%;
        margin-bottom: 50px;
    }

    .left-image {
        width: 50%;
    }

    .right-content {
        width: 100%;
    }

    .section-wrapper {
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        width: 70%;
    }
}


